.mainBox {
  height: 100%;
}
.broadTool {
  height: 5%;
  display: inline-block;
  ol {
    display: flex;
    align-items: center;
  }
}
.article {
  height: 90%;
  overflow-y: auto;
}
.menu {
  height: 5%;
  width: 100%;
  display: flex;
  li{
    width: 50px;
  }
}
